main {
  margin-top: 40px;
  font-size: 1.1em;
  line-height: 1.75em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

main div.icon {
  text-align: center;
  margin-bottom: 1em;
}
main div.icon span.icon {
  background-color: #999999;
  width: 3em;
  height: 3em;
}
@media(max-width: 400px) {
  main div.icon span.icon {
    width: 2em;
    height: 2em;
  }
}

main h1 {
  margin-top: 0;
  line-height: 1.25em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
@media(max-width: 400px) {
  main h1 {
    font-size: 1.5em;
  }
}

main h2 {
  margin-top: 2em;
  font-weight: normal;
  line-height: 1.25em;
}
@media(max-width: 400px) {
  main h2 {
    font-size: 1.5em;
  }
}

main h3 {
  margin-top: 1em;
  font-weight: bold;
  color: #333333;
  line-height: 1.25em;
}
main p {
  margin: 1em 0;
}
main a {
  color: #245583;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 0px;
}
main a:hover  {
  color: #3c6c99;
}
main code {
  font-size: 0.85em;
  background-color: #eeeeee;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  margin: 0px 2px;
}
main a:has(code) {
  border-bottom: 0px;
  color: #106faf;
}
main a:has(code):hover {
  color: #209cee;
}
main blockquote {
  margin: 1em 0;
  border: 0px solid rgb(208, 236, 253);
  border-left-width: 20px;
  padding: 0.5em 2em 0.5em 1.25em;
  background-color: rgb(253, 252, 242);
  border-radius: 4px;
  color: #333333;
}
main blockquote p {
  margin: 0.35em 0;
}
main blockquote p.title {
  font-weight: bold;
  color: #666666;
}
main ol {
  padding-left: 1em;
}
main ul {
  padding-left: 1em;
}
main figure {
  width: 100%;
  margin: 1.25em 0 1em 0;
}
main figure img {
  width: 100%;
  border: 2px solid #cccccc;
  border-radius: 4px;
}
main figure figcaption {
  margin-top: -5px;
  font-size: 0.9em;
  color: #999999;
}

main div.pageshots {
  text-align: center;
  margin-top: 2em;
}
main div.pageshots a.pageshot {
  border-bottom: 0px;
  display: inline-block;
  max-width: 200px;
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: center;
  outline-offset: 2px;
}
main div.pageshots a.pageshot img {
  width: 100%;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px #999999;
}
main div.pageshots a.pageshot span.title {
  display: block;
  line-height: 1.5em;
  margin-top: 0.75em;
}