c-leaderboard {
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
}

c-leaderboard h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 1.25em 0;
}
c-leaderboard h2 span.text {
  margin: 0px 0.5em;
  color: #667788;
  text-transform: uppercase;
}
c-leaderboard h2 span.icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #99aabb;
}

c-leaderboard div.list {
  min-height: 200px;
  overflow-x: auto;
}
c-leaderboard div.list.loading {
  background-image: url(/home/preloader.gif);
  background-repeat: no-repeat;
  background-position: center 100px;
}
c-leaderboard div.list.loading tbody {
  display: none;
}


c-leaderboard table {
  width: 100%;
  border-collapse: collapse;
}
c-leaderboard table td {
  border-bottom: 1px solid #dddddd;
  padding: 15px 10px 10px 10px;
  white-space: nowrap;
}
c-leaderboard table td.position {
  text-align: center;
  color: #333333;
}
c-leaderboard thead tr td {
  /* font-weight: bold; */
  background-color: #dddddd;
  color: #333333;
}



c-leaderboard td.wordcount span.icon {
  position: relative;
  top: -2px;
  margin-right: 0.25em;
}
c-leaderboard td.wordcount span.label {
  margin-right: 0.5em;
  font-size: 0.9em;
  @media(max-width: 1000px)  {
    display: none;
  }
}
c-leaderboard td.wordcount span.num {
  font-weight: bold;
  @media(min-width: 1000px)  {
    background-color: #f9f9f9;
    padding: 3px 10px 0px 10px;
    display: inline-block;
    border-radius: 4px;
    min-width: 4em;
    text-align: right;
    color: #333333;
  }
}
c-leaderboard td.wordcount span.num.num0 {
  color: #999999;
} 

c-leaderboard td.wordcount.low {
  color: #30a582;
}
c-leaderboard td.wordcount.low span.icon {
  background-color: #30a582;
}
c-leaderboard td.wordcount.medium {
  color: #3c45c4;
}
c-leaderboard td.wordcount.medium span.icon {
  background-color: #3c45c4;
}
c-leaderboard td.wordcount.high {
  color: #3a0101;
}
c-leaderboard td.wordcount.high span.icon {
  background-color: #3a0101;
}

c-leaderboard a.profile {
  border-bottom: 0px;
  display: inline-block;
  outline-offset: 4px;
  line-height: 1.5em;
}
c-leaderboard a.profile span.headshot {
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  border-radius: 4em;
  text-align: center;
  border: 1px solid #999999;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}
c-leaderboard a.profile span.headshot span.icon {
  background-color: #334455;
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.5em;
}
c-leaderboard a.profile span.name {
  border-bottom: 1px solid;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}