c-listing {
  display: block;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  padding-right: 250px;
  border: 2px solid transparent;
}
c-listing.prominent {
  border-color: #3cb1c4;
}
@media(max-width: 700px){
  c-listing {
    padding-right: 20px;
  }
}
c-listing span.status {
  display: inline-block;
  background-color: #a5eaf5;
  border-radius: 4px;
  line-height: 1.25em;
  padding: 7px 10px 5px 10px;
  color: #245583;
  margin-bottom: 10px;
  font-size: 0.9em;
}
@media (max-width: 600px) {
  c-listing span.status {
    display: block;
  }
}
c-listing span.status span.dots {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -1px;
  user-select: none;
}
c-listing span.status span.dots span.blanks {
  color: #ffffff;
}

c-listing span.menuspot {
  display: inline-block;
  line-height: 1.25em;
  color: #666666;
  margin-bottom: 10px;
  font-size: 0.95em;
  margin-left: 15px;
}
@media (max-width: 600px) {
  c-listing span.menuspot {
    display: block;
    margin-left: 0px;
    margin-top: 15px;
  }
}
c-listing span.difficulty.grey * {
  color: #999999 !important;
}
c-listing span.difficulty.grey span.icon {
  background-color: #cccccc !important;
}
c-listing span.difficulty > span {
  display: none;
}
c-listing span.difficulty > span span.icon {
  margin-right: 3px;
  position: relative;
  top: -1px;
}
c-listing span.difficulty.low > span.low {
  display: inline;
  color: #30a582;
}
c-listing span.difficulty.low > span.low span.icon {
  background-color: #30a582;
}
c-listing span.difficulty.medium > span.medium {
  display: inline;
  color: #3c45c4;
}
c-listing span.difficulty.medium > span.medium span.icon {
  background-color: #3c45c4;
}
c-listing span.difficulty.high > span.high {
  display: inline;
  color: #3a0101;
}
c-listing span.difficulty.high > span.high span.icon {
  background-color: #3a0101;
}

c-listing div.title {
  font-size: inherit;
  margin: 0px;
  font-weight: normal;
  color: #000000;
  font-size: 1.3em;
  line-height: 1.5em;
}
c-listing div.title a {
  color: inherit;
  border: 0px;
  margin-right: 1px;
}
c-listing div.title a:hover {
  color: #245583;
}
c-listing div.title span.year {
  color: #667788;
  font-size: 0.8em;
  margin-right: 3px;
}
c-listing div.title a:hover span.year {
  color: #3c6c99;
}
c-listing div.title span.asr {
  font-size: 0.6em;
  background-color: #eeeeee;
  color: #666666;
  line-height: 1em;
  display: inline-block;
  padding: 5px 6px 3px 6px;
  border-radius: 4px;
  cursor: default;
  font-weight: bold;
}
c-listing div.title span.asr span.icon {
  position: relative;
  top: -1px;
}
c-listing div.title span.asr:hover {
  background-color: #dddddd;
}
c-listing > div.data {
  font-size: 0.9em;
  margin-top: 5px;
  color: #666666;
  line-height: 2em;
}
c-listing > div.data a {
  line-height: 1.5em;
}
c-listing > div.data span.divider {
  margin: 0px 5px;
}
c-listing a.button {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #666666;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  border: 0px;
  position: relative;
  font-size: 1.1em;
  position: absolute;
  right: 40px;
  top: calc(50% - 1.25em);
  outline-offset: 2px;
}
@media(max-width: 700px){
  c-listing a.button {
    margin-top: 20px;
    position: relative;
    right: auto;
    top: auto;
  }
}

c-listing > div.data span.part {
  color: #556677;
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1em;
}