div.banner {
  height: 400px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 40px;
}
div.banner.loggedIn {
  height: 190px;
  margin-bottom: -20px;
}
div.banner div.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 4px;
  background-image: url(/home/backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.banner div.transparency {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ffffff;
  filter: opacity(0.5);
}
div.banner div.slogan {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}
div.banner div.slogan span {
  background-color: #0280a5;
  display: block;
  margin: 150px 50px 0px 50px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 15px 20px;
  border-radius: 4px;
}
div.banner.loggedIn div.slogan span {
  margin-top: 60px;
  font-size: 2em;
}
@media(max-width: 700px){
  div.banner div.slogan span {
    font-size: 2em;
    margin: 75px 20px 0px 20px;
  }
  div.banner.loggedIn div.slogan span {
    font-size: 1.75em;
    margin: 20px 20px 0px 20px;
  }
}

div.cta {
  float: right;
  width: 500px;
  text-align: center;
}
@media(max-width: 1000px){
  div.cta {
    float: none;
    width: auto;
    text-align: center;
  }
}
div.cta a.button {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #666666;
  background-color: #dbfaff;
  display: inline-block;
  padding: 20px 70px 20px 40px;
  border: 0px;
  margin-top: 20px;
  position: relative;
  font-weight: bold;
  font-size: 1.1em;
  outline-offset: 2px;
}
@media(max-width: 700px){
  div.cta a.button {
    margin-top: 0px;
  }
}
div.cta a.button span.icon {
  position: absolute;
  right: 30px;
  top: calc(50% - 0.85em);
  width: 1.5em;
  height: 1.5em;
  background-color: #999999;
}
div.cta a.button:hover span.icon {
  background-color: #667788;
}
div.cta div.or {
  margin-top: 20px;
  color: #666666;
}

div.welcome {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-right: 600px;
  color: #334455;
}
@media(max-width: 1000px){
  div.welcome {
    margin-top: 30px;
    margin-right: 0px;
  }
}
div.welcome strong {
  color: #000000;
}

div.stats {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
div.stats div.box {
  background-color: #f9f9f9;
  color: #333333;
  padding: 30px 0px 20px 95px;
  border-radius: 2px;
  width: 32%;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}
@media (max-width: 800px) {
  div.stats {
    flex-direction: column;
  }
  div.stats div.box {
    width: auto;
    margin-bottom: 10px;
  }
}
div.stats div.box > span.icon {
  background-color: #cccccc;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 20px;
  left: 30px;
}
div.stats div.box > span.icon.clock {
  width: 2.75em;
}
div.stats div.box div.number {
  margin-top: 5px;
  font-weight: bold;
  font-size: 2em;
  /* color: #245583; */
  color: #666666;
}
div.stats div.box div.legend {
  margin-top: 10px;
  text-wrap: balance;
}
div.stats div.box div.link {
  margin-top: 2px;
}
div.stats div.box div.link span.icon {
  background-color: #99aabb;
  height: 1.5em;
  width: 1.5em;
  margin-right: 2px;
}

div.tabsContainer {
  overflow-x: auto;
  padding-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
}
div.tabs {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #245583;
  padding: 0px 5px;
  box-shadow: 0px 10px 5px -5px #ffffff;
}
div.tabs button {
  width: 24%;
  margin: 0px 5px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  border-radius: 4px 4px 0px 0px;
  padding: 15px 10px 10px 10px;
  box-shadow: inset 1px 1px 0px #ffffff;
  text-wrap: balance;
  outline-offset: -4px;
}
div.tabs button:hover {
  border-color: #aaaaaa;
}
div.tabs button:active {
  position: relative;
  top: 1px;
}
div.tabs button.current {
  border-color: #245583;
  z-index: 1;
  position: relative;
  top: 1px;
  background-color: #ffffff;
  box-shadow: 3px -2px 0px #dddddd;
}
@media (max-width: 800px) {
  div.tabs button {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
div.tabs button span.dots {
  display: inline-block;
  color: #999999;
  background-color: #cccccc;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8em;
  line-height: 1em;
}
@media (max-width: 800px) {
  div.tabs button span.dots {
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.7em;
  }
}
div.tabs button:hover span.dots {
  color: #888888;
  background-color: #c9c9c9;
}
div.tabs button.current span.dots {
  color: #245583;
  background-color: #a5eaf5;
}
div.tabs button span.dots span.blanks {
  color: #ffffff;
}
div.tabs button span.icon {
  background-color: #999999;
  height: 1.25em;
  width: 1.25em;
  margin-top: 3px;
  margin-bottom: 2px;
}
@media (max-width: 800px) {
  div.tabs button span.icon {
    margin-bottom: 5px;
  }
}
div.tabs button:hover span.icon {
  background-color: #888888;
}
div.tabs button.current span.icon {
  background-color: #3274b3;
}
div.tabs button span.legend {
  margin-top: 8px;
  display: block;
  color: #333333;
  font-size: 0.95em;
}
@media (max-width: 800px) {
  div.tabs button span.legend {
    display: none;
  }
}
div.tabs button:hover span.legend {
  color: #555555;
}
div.tabs button.current span.legend {
  color: #245583;
}
div.tabs button span.number {
  display: block;
  color: #333333;
  font-size: 0.95em;
}
div.tabs button:hover span.number {
  color: #555555;
}
div.tabs button.current span.number {
  color: #245583;
}

div.nojoy {
  color: #666666;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -100px;
}

div.sounds {
  margin: -5px 0px 40px 0px;
  min-height: 300px;
}
div.sounds.loading {
  background-image: url(/home/preloader.gif);
  background-repeat: no-repeat;
  background-position: center 100px;
}

div.adminArea {
  overflow-y: auto;
  margin: -10px;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
}
div.adminArea > div.title {
  display: block;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccddee;
}
div.adminArea > div.title span {
  background-color: #ccddee;
  color: #004b34;
  padding: 6px 10px 3px 10px;
  border-radius: 20px;
  position: relative;
  bottom: -9px;
}

div.adminbox {
  display: block;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  border: 0px;
  box-shadow: 0px 0px 8px #aaaaaa;
  float: left;
  width: calc(30% - 20px);
  margin-left: 20px;
  box-sizing: border-box;
  height: 7.5em;
}
@media (max-width: 600px) {
  div.adminbox {
    float: none;
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
  }
}
div.adminbox div.title {
  font-weight: bold;
  color: #ffffff;
  background-color: #00abce;
  padding: 17px 20px 15px 20px;
  margin: -20px -20px 20px -20px;
  border-radius: 7px 7px 0px 0px;
}
div.adminbox span.icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #999999;
  margin-right: 10px;
}