<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/home/styles.css"/>
    <script src="/home/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      <p>Hello world.</p>
    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
