<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/register2/styles.css"/>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="container">
        OK! You're in. You can log in now.
      </div>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
