span.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  vertical-align: middle;
  background-color: #333333;
}
span.icon.angle-down {
  mask-image: url(/angle-down.svg);
  -webkit-mask-image: url(/angle-down.svg);
}
span.icon.user {
  mask-image: url(/user.svg);
  -webkit-mask-image: url(/user.svg);
}
span.icon.up-right-from-square {
  mask-image: url(/up-right-from-square.svg);
  -webkit-mask-image: url(/up-right-from-square.svg);
}
span.icon.circle-question {
  mask-image: url(/circle-question.svg);
  -webkit-mask-image: url(/circle-question.svg);
}
span.icon.angles-right {
  mask-image: url(/angles-right.svg);
  -webkit-mask-image: url(/angles-right.svg);
}
span.icon.play {
  mask-image: url(/play.svg);
  -webkit-mask-image: url(/play.svg);
}
span.icon.pause {
  mask-image: url(/pause.svg);
  -webkit-mask-image: url(/pause.svg);
}
