footer {
  background-color: #00abce;
  box-shadow: 0px -1px 0px #bbbbbb;
  padding: 30px 0px;
  color: #ffffff;
}
footer > div.main {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  position: relative;
  box-sizing: border-box;
}

footer div.right {
  float: right;
}
@media (max-width: 800px) {
  footer div.right {
    float: none;
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

footer a {
  color: #ffffff;
  outline-offset: 2px;
}
footer a:hover {
  color: #eeeeee;
}

footer div.uilang a {
  margin-left: 10px;
  border-bottom-width: 0px;
  outline-offset: 5px;
}
footer div.uilang a:hover {
  color: #eeeeee;
}
footer div.uilang a.current {
  background-color: #ffffff;
  color: #00abce;
  font-weight: bold;
  padding: 5px 10px 2px 10px;
  border-radius: 4px;
  outline-offset: -2px;
}

footer div.title {
  font-weight: bold;
  font-size: 1.1em;
}
footer div.subtitle {
  margin-top: .65em;
}
footer span.divider {
  color: #dddddd;
  margin: 0px 5px;
}
@media (max-width: 1100px) {
  footer span.links {
    display: block;
    margin-top: 0.5em;
  }
  footer span.link {
    display: block;
    line-height: 2em;
  }
  footer span.divider {
    display: none;
  }
  footer span.link a {
  }
}

footer div.guidelink {
  margin-top: 0.5em;
}
footer div.guidelink span.icon {
  background-color: #ffffff;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}
footer div.guidelink a {}

footer div.icons {
  margin-top: 50px;
}
footer div.icons a {
  border: 0px;
  margin-right: 20px;
  display: inline-block;
  outline-offset: 4px;
}
footer div.icons a img {
  height: 75px;
}
@media (max-width: 800px) {
  footer div.icons a img {
    height: 50px;
  }
}

footer div.statement {
  color: #eeeeee;
  margin-top: 20px;
  font-size: 0.85em;
  max-width: 600px;
}
