header {
  box-shadow: 0px 1px 0px #bbbbbb;
}

header > div.strip {
  height: 30px;
  padding: 10px 0px;
}
header > div.strip1 {
  background-color: #0280a5;
}
header > div.strip2 {
  background-color: #00abce;
}
header > div.strip > div.main {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  position: relative;
  box-sizing: border-box;
}

header a.tobar {
  border-bottom: 0px;
  position: relative;
  left: -45px;
  outline-offset: 5px;
}
@media (max-width: 1300px) {
  header a.tobar {
    left: 0px;
  }
}
header a.tobar span.logo {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-image: url(/header/waves.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
header a.tobar:hover span.logo {
  border-color: #eeeeee;
}
header a.tobar span.caption {
  font-weight: bold;
  color: #ffffff;
  position: relative;
  top: 3px;
}
@media (max-width: 600px) {
  header a.tobar span.caption {
    display: none;
  }
}
header a.tobar:hover span.caption {
  color: #eeeeee;
}
header a.tobar span.icon {
  background-color: #cccccc;
  margin-left: 10px;
  width: 0.8em;
  height: 0.8em;
  position: relative;
  top: 1px;
}
header a.tobar:hover span.icon {
  background-color: #eeeeee;
}
@media (max-width: 600px) {
  header a.tobar span.icon {
    display: none;
  }
}

header .title {
  display: inline-block;
  font-size: inherit;
  margin: 0px;
  font-weight: normal;
  position: relative;
  top: 4px;
}
header .title a {
  color: #ffffff;
  border-bottom: 0px;
  outline-offset: 5px;
}
header .title a:hover {
  color: #eeeeee;
}
header .title a span.icon {
  background-color: #ffffff;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  top: -2px;
}


header span.uilang {
  float: right;
  position: relative;
  top: 5px;
}
header span.uilang a {
  color: #ffffff;
  margin-left: 10px;
  border-bottom-width: 0px;
  outline-offset: 3px;
}
header span.uilang a:hover {
  color: #eeeeee;
}
header span.uilang a.current {
  background-color: #ffffff;
  color: #0280a5;
  font-weight: bold;
  border-bottom-width: 0px;
  padding: 5px 10px 2px 10px;
  border-radius: 4px;
  outline-offset: -3px;
}

