@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Overpass", sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
  margin: 0; padding: 0;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  background-color: #eeeeee;
}
*:focus {
  outline-color: #ee2042;
  outline-offset: 0px;
  outline-style: dotted;
  outline-width: 2px;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #245583;
  /* display: inline-block; */
}
a:hover {
  color: #3c6c99;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
.fade-in {
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}
.fade-out {
  animation-name: fade-out;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
}

main {
  min-height: calc(100vh - 100px);
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px 15px 30px 15px;
  position: relative;
  box-sizing: border-box;
}

