main {
  margin-top: 40px;
  font-size: 1.1em;
  line-height: 1.75em;
  margin-left: auto;
  margin-right: auto;
}

main div.icon {
  text-align: center;
  margin-bottom: 1em;
}
main div.icon span.icon {
  background-color: #999999;
  width: 3em;
  height: 3em;
}
@media(max-width: 400px) {
  main div.icon span.icon {
    width: 2em;
    height: 2em;
  }
}

main h1 {
  margin-top: 0;
  line-height: 1.25em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
@media(max-width: 400px) {
  main h1 {
    font-size: 1.5em;
  }
}

div.list {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  border-bottom: 1px solid #dddddd;
  padding: 15px 10px 10px 10px;
  white-space: nowrap;
}
table td.position {
  text-align: center;
  color: #333333;
}
thead tr td {
  /* font-weight: bold; */
  background-color: #dddddd;
  color: #333333;
}



td.wordcount span.icon {
  position: relative;
  top: -2px;
  margin-right: 0.25em;
}
td.wordcount span.label {
  margin-right: 0.5em;
  font-size: 0.9em;
  @media(max-width: 1000px)  {
    display: none;
  }
}
td.wordcount span.num {
  font-weight: bold;
  @media(min-width: 1000px)  {
    background-color: #f9f9f9;
    padding: 3px 10px 0px 10px;
    display: inline-block;
    border-radius: 4px;
    min-width: 4em;
    text-align: right;
    color: #333333;
  }
}
td.wordcount span.num.num0 {
  color: #999999;
} 

td.wordcount.low {
  color: #30a582;
}
td.wordcount.low span.icon {
  background-color: #30a582;
}
td.wordcount.medium {
  color: #3c45c4;
}
td.wordcount.medium span.icon {
  background-color: #3c45c4;
}
td.wordcount.high {
  color: #3a0101;
}
td.wordcount.high span.icon {
  background-color: #3a0101;
}

a.profile {
  border-bottom: 0px;
  display: inline-block;
  outline-offset: 4px;
  line-height: 1.5em;
}
a.profile span.headshot {
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  border-radius: 4em;
  text-align: center;
  border: 1px solid #999999;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}
a.profile span.headshot span.icon {
  background-color: #334455;
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.5em;
}
a.profile span.name {
  border-bottom: 1px solid;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}


main h2 {
  margin-top: 2em;
  font-weight: normal;
  line-height: 1.25em;
}
@media(max-width: 400px) {
  main h2 {
    font-size: 1.5em;
  }
}

ul.remaining {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 3em;
}
ul.remaining li {
  display: inline-block;
  @media(max-width: 400px) {
    display: block;
  }
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  padding-right: 20px;
}