div.title {
  margin: 5px 0px 0px 0px;
  white-space: nowrap;
}
div.title > h1 {
  font-size: inherit;
  margin: 0px;
  font-weight: normal;
  color: #000000;
  overflow-x: auto;
  padding-top: 1px;
  padding-bottom: 4px;
  font-size: 1.3em;
  line-height: 1.25em;
  margin-right: -10px;
  padding-right: 10px;
}
div.title > h1 span.year {
  color: #667788;
  margin-left: 3px;
  font-size: 0.8em;
}
div.title > h1 a {
  font-size: 0.7em;
  line-height: 1.2em;
}
div.title > h1 span.divider {
  margin: 0px 5px;
  font-size: 0.7em;
  line-height: 1.25em;
}
div.title > div.data {
  font-size: 0.9em;
  padding-top: 0px;
  color: #666666;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-right: -10px;
  padding-right: 10px;
}
div.title > div.data a {
  line-height: 1.25em;
}
div.title > div.data span.status {
  display: inline-block;
  background-color: #a5eaf5;
  border-radius: 4px;
  line-height: 1.25em;
  padding: 7px 10px 5px 10px;
  color: #245583;
  margin-right: 8px;
  font-size: 1em;
}
div.title > div.data span.status span.dots {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
div.title > div.data span.status span.dots span.blanks {
  color: #ffffff;
}

div.title > div.data span.divider {
  margin: 0px 5px;
}


c-audio {
  margin-top: 5px;
  margin-left: -1px
}

c-textarea {
  display: inline-block;
  width: calc(100% - 315px);
  height: calc(100vh - 280px);
  margin-top: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #666666;
  background-color: #ffffff;
}
@media(max-width: 700px){
  c-textarea {
    width: 100%;
  }
}

aside.toolbox {
  float: right;
  width: 285px;
  margin-top: 15px;
  height: calc(100vh - 280px);
  padding-top: 10px;
  box-sizing: border-box;
  position: relative;
}
@media(max-width: 700px){
  aside.toolbox {
    float: none;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 0px;
  }
}

aside.toolbox div.scrollable {
  padding: 10px 2px 5px 5px;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 7em;
}
@media(max-width: 700px){
  aside.toolbox div.scrollable {
    display: none;
  }
}

aside.toolbox c-speed {
  margin-bottom: 20px;
}

aside.toolbox ul.legend {
  display: block;
  margin: 0px;
  padding: 0px;
}
aside.toolbox ul.legend li {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
aside.toolbox ul.legend li div.caption {
  color: #666666;
  font-size: 0.9em;
  margin-bottom: 3px;
}
aside.toolbox ul.legend li div.keys {
  color: #666666;
}
aside.toolbox ul.legend li div.keys span.key {
  font-family: "Overpass Mono", monospace;
  line-height: 1.25em;
  font-size: 0.8em;
  border: 1px solid #999999;
  padding: 5px 5px 2px 5px;
  border-radius: 2px;
  text-shadow: 1px 1px 0px #ffffff;
  display: inline-block;
}

aside.toolbox div.submission {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: left;
}
aside.toolbox div.submission label {
  font-size: 0.9em;
  color: #666666;
  display: block;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
  line-height: 1.25em;
  margin-bottom: 10px;
}
aside.toolbox div.submission label input {
  position: absolute;
  left: 0px;
  top: -2px;
}
aside.toolbox div.submission label:has(input:checked) {
  color: #333333;
}
aside.toolbox div.submission button.save {
  margin-top: 5px;
  width: 100%;
  font: inherit;
  padding: 10px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #666666;
  cursor: pointer;
  background-color: #dbfaff;
  position: relative;
}
aside.toolbox div.submission button.save:active {
  left: 1px;
  right: -1px;
  bottom: -1px;
}
@media(max-width: 700px){
  aside.toolbox div.submission {
    position: relative;
    max-width: 400px;
    width: 100%;
  }
}

div.stage {
  text-align: center;
  margin-top: 15vh;
}
div.stage div.message {
  color: #666666;
}
div.stage button {
  margin-top: 20px;
  font: inherit;
  border: 0px;
  height: 75px;
  min-width: 300px;
  border-radius: 200px;
  box-shadow: 0px 0px 5px #666666;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
}
div.stage button.smaller {
  height: 50px;
}
div.stage div.cta {
  text-align: center;
}
div.stage div.cta a.button {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #666666;
  background-color: #dbfaff;
  display: inline-block;
  padding: 20px 70px 20px 40px;
  border: 0px;
  margin-top: 40px;
  position: relative;
  font-weight: bold;
  font-size: 1.1em;
}
div.stage div.cta a.button span.icon {
  position: absolute;
  right: 30px;
  top: calc(50% - 0.85em);
  width: 1.5em;
  height: 1.5em;
  background-color: #999999;
}
div.stage div.cta a.button:hover span.icon {
  background-color: #667788;
}
div.stage div.cta div.or {
  margin-top: 20px;
  color: #666666;
}
