URLSTART="http://localhost:3000"
PORT=3000
SENDEREMAIL="info@localhost"
TADAPIUSR="username for accessing Tobar an Dualachais API"
TADAPIPWD="password for accessing Tobar an Dualachais API"
READONLY=1
