main {
  font-size: 1.1em;
  line-height: 1.75em;
  max-width: 900px;
  box-sizing: border-box;
  padding-top: 25vh;
  text-align: center;
}

main div.icon {
  text-align: center;
  margin-bottom: 1em;
}
main div.icon span.icon {
  background-color: #999999;
  width: 3em;
  height: 3em;
}
div.message {
  color: #830808;
  text-wrap: balance;
}